<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Projects</title>
    
</head>
<body>

<div class="projectSection">
    <div class="sectionTitle">
        <p>Projects</p>
    </div>

    <!-- Card Container -->
    <div class="projectsContainer">
        <div class="innerProjects">
            <div class="leftProject">
                <div class="thumbnail">
                    <img src="" alt="My Portfolio">
                </div>
            </div>
            <div class="rightProject">
                <div class="projectName">
                    <p id="projectName" style="font-size: .8rem;">Personal Portfolio V1</p>
                </div>
                <div class="projectDescription">
                    <p id="projectDescription" style="font-size: 1rem;">My first web dev portfolio, designed by me. The portfolio demonstrates a minimalistic design, as well as an understanding of HTML, CSS, and 🍦 Javascript.</p>
                </div>
                <div class="badges">
                    <div class="badgeContainer">
                        <p id="badge" style="font-size: smaller">HTML & CSS</p>
                    </div>
                    <div class="badgeContainer">
                        <p id="badge" style="font-size: smaller;">Javascript</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    


        <!-- JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

        <!-- Javascript -->
        <script text="text/javascript" src="index.js"></script>
</body>
</html>